# Databases & Local Logs
data/*.db
data/cms_outliers.db
*.log

# Secrets & Local Configurations
.env
__pycache__/
.vscode/

# Local Testing Playground
quick test.py
quick_test.py

# Personal Reference Materials & Folder Drafts
reference/

# Local Big Data Assets (Forbidden from tracking due to file size limits)
data/cms_source.zip
data/